.library-course {
	display: grid;
	grid-template-columns: 1fr 45px 58px;
  grid-template-rows: 32px [line-s] 20px [line-e] 1fr;
  
  align-items: center;

	&__title-check {
		grid-row: 1/2;
    display: flex;
    grid-column: 1/2;
  }

  &__line {
    grid-column: 1/-1;
    grid-row: line-s/line-e;
    padding-top: 19px;
  }

  &__arrow {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  &__action {
    grid-row: 1/2;
    grid-column: 3/4;

    justify-self: center;
  }

	&__description {
    padding-top: 24px;
    grid-row: 3/4;
    grid-column: 1/-1;
	}
}

@mixin solid-course {
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.21);
}

.library-course-selected {
  @include solid-course();
}

.library-course {

  // padding: 25px;
  padding: 12px 0;
  padding-left: 25px;

  &:hover {
    @include solid-course;
  }

  &__title {
    color: $color-gray;
    font-family: $font-lato;
    font-size: 18px;
    line-height: 22px;
  }

  &__line {
    border-bottom: 1px solid #F2F2F2;
    margin-top: 19px;
    margin-bottom: 24px;
  }

  &__icon{
    color: $color-blue;
    padding-left: 16px;
    font-size: 24px;
  }

  &__description{
    label {
      color: $color-blue;
      font-family: $font-alegreya;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
    p {
      color: $color-gray;
      font-family: $font-lato;
      font-size: 16px;
    }
  }
}
