.library {
    grid-column: library-s/library-e;

    display: grid;
    grid-teplate-rows: [title-s] 100px [title-e courses-s] repeat(auto-fit, 1fr) [courses-e];

    &__title {
    // grid-row: title-s/title-e;
    }
}