.home {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: [library-s] 1fr 1fr [library-e schedule-s] 1fr [schedule-e];
    grid-template-rows: 1fr;
}

.library {
    grid-column: library-s/library-e;
}

.schedule {
    grid-column: schedule-s/schedule-e;
}
